.main-box {
    background-color: #f1f1f4;
    -webkit-box-shadow: 0px -1px 25px 4px rgba(212, 231, 208, 1);
    -moz-box-shadow: 0px -1px 25px 4px rgba(212, 231, 208, 1);
    box-shadow: 0px -1px 25px 4px rgb(208, 220, 231);
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0;
}

.header-main-box {
    background-color: #0d6efd;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.car-elem {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    background-color: white;
    -webkit-box-shadow: 0px 8px 17px 1px rgba(212, 231, 208, 1);
    -moz-box-shadow: 0px 8px 17px 1px rgba(212, 231, 208, 1);
    box-shadow: 0px 8px 17px 1px rgba(212, 231, 208, 1);
    border-radius: 5px;
    display: flex;
    padding: 0;
    flex-direction: row;
}